<app-sidenav></app-sidenav>

<div class="row">
    <div class="col-sm-12">
        <form #ProductAddForm="ngForm">
            <div class="main-body">
                <div class="sub-body">
                    <div *ngIf="ViewMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-eye"></i> View Product Inventory</h3>
                    </div>
                    <div *ngIf="AddMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-address-book"></i> Add New Product Inventory</h3>
                    </div>
                    <div *ngIf="EditMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-pencil-square-o"></i> Edit Product Inventory</h3>
                    </div>
                    <div *ngIf="DeleteMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-trash-o"></i> Delete Product Inventory</h3>
                    </div>

                    <div class="form-group margin-top-30">
                        <label class="col-sm-2 col-form-label">Product</label>
                        <div class="col-sm-4">
                            <ng-select [items]="productList" id="Name" [disabled]="DeleteMode || ViewMode || EditMode" name="Name" bindLabel="Name" [(ngModel)]="Product.Name" required="true" placeholder="Select Product" (change)="GetPriceList(Product)">
                            </ng-select>
                        </div>

                        <label class="col-sm-1 col-form-label">Particulars</label>
                        <div class="col-sm-3">
                            <input autocomplete="off" class="form-control input-group-lg" [required]="EditMode || AddMode" name="Particulars" type="text" [(ngModel)]="Product.Particulars" />
                        </div>

                        <div class="col-sm-1">
                            <button [disabled]="DeleteMode || ViewMode" class="btn btn-success" (click)="AddPriceListDetails()">
                                <i class="fa fa-plus" style="color: #fff;"></i> Add More Detail(s)
                            </button>
                        </div>
                        <div *ngIf="ShowTable">
                            <div class="table-responsive-sm">
                                <table id="myTable" class="table css-serial">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th scope="col ">Code</th>
                                            <th scope="col ">Category</th>
                                            <!-- <th scope="col ">Variety</th>
                                            <th scope="col ">Size</th>
                                            <th scope="col ">Packing</th>
                                            <th scope="col ">TP</th>
                                            <th scope="col ">Unit Price</th>
                                            <th scope="col ">Add Inventory</th>
                                            <th scope="col ">In Inventory</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of ProductDetails; let i=index ">
                                            <td></td>
                                            <td><input autocomplete="off" class="form-control" required=true [name]=" 'Code_'+i" type="text" title="Enter Code" [(ngModel)]="item.Code" placeholder="Enter Code" [readonly]="true" tabindex="0" /></td>
                                            <td><input autocomplete="off" class="form-control" required=true [name]=" 'Category_'+i" type="text" title="Enter Category" [(ngModel)]="item.Category" placeholder="Enter Category" [readonly]="true" tabindex="0"
                                                /></td>
                                            <!-- <td><input autocomplete="off" class="form-control" required=true [name]=" 'Variety_'+i" type="text" title="Enter Variety" [(ngModel)]="item.Variety" placeholder="Enter Variety" [readonly]="true" tabindex="0" /></td>
                                            <td><input autocomplete="off" class="form-control" required=true [name]=" 'Size_'+i" type="text" title="Enter Size" [(ngModel)]="item.Size" placeholder="Enter Size" [readonly]="true" tabindex="0" /></td>
                                            <td><input autocomplete="off" class="form-control" required=true [name]=" 'Packing_'+i" type="text" title="Enter Packing" [(ngModel)]="item.Packing" placeholder="Enter Packing" [readonly]="true" tabindex="0" /></td>
                                            <td><input autocomplete="off" class="form-control" required=true [name]=" 'TP_'+i" type="text" title="Enter TP" [(ngModel)]="item.TP" placeholder="Enter TP" [readonly]="true" appNumbersWithTwoDecimals tabindex="0"
                                                /></td>
                                            <td><input autocomplete="off" class="form-control" required=true [name]=" 'UnitPrice_'+i" type="text" title="Enter Unit Price" [(ngModel)]="item.UnitPrice" placeholder="Enter Unit Price" [readonly]="true" appNumbersWithTwoDecimals
                                                    tabindex="0" /></td>
                                            <td> <input autocomplete="off" class="form-control" required=true (change)="AddInventory(item,i)" [name]=" 'AddInventory_'+i" type="text" title="Add Inventory" [(ngModel)]="item.AddInventory" [readonly]="DeleteMode || ViewMode"
                                                    placeholder="Add Inventory" appNumbersonly tabindex="1" /></td>
                                            <td><input autocomplete="off" class="form-control" required=true [name]=" 'InInventory_'+i" type="text" title="Enter In Inventory" [(ngModel)]="item.InInventory" placeholder="In Inventory" [readonly]="true" appNumbersonly
                                                    tabindex="0" />
                                            </td> -->
                                            <td>
                                                <span> <i class="fa fa-trash-o delete"
                                                (click)="RemoveProductDetails(item,i)"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <!-- Audit Log -->

                    <div *ngIf="!AddMode" class="margin-top-30">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Audit Log
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="form-group margin-top-25">
                                    <label class="col-sm-1 col-form-label">Created By</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="CreatedBy" type="text" title="Created By" [(ngModel)]="Product.CreatedBy" placeholder="Created By" />
                                    </div>

                                    <label class="col-sm-1 col-form-label">Created Date</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="CreatedDate" type="text" title="Created Date" [(ngModel)]="Product.CreatedDate" placeholder="Created Date" />
                                    </div>

                                    <label class="col-sm-1 col-form-label">Modified By</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="ModifiedBy" type="text" title="Modified By" [(ngModel)]="Product.ModifiedBy" placeholder="Modified By" />
                                    </div>

                                    <label class="col-sm-1 col-form-label">Modified Date</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="ModifiedDate" type="text" title="Modified Date" [(ngModel)]="Product.ModifiedDate" placeholder="Modified Date" />
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group row">
                        <div class="mr-2" *ngIf="AddMode">
                            <button type="button" [disabled]="!ProductAddForm.valid" class="btn btn-primary btn-lg" (click)="Save(Product)">
                                <i class="fa fa-floppy-o" style="color: #fff;"></i> Save
                            </button>
                        </div>

                        <div class="mr-2" *ngIf="EditMode">
                            <button type="button" [disabled]="!ProductAddForm.valid" class="btn btn-primary btn-lg" (click)="Update(Product)">
                                <i class="fa fa-refresh" style="color: #fff;"></i> Update
                            </button>
                        </div>

                        <div class="mr-2" *ngIf="DeleteMode">
                            <button type="button" [disabled]="!ProductAddForm.valid" class="btn btn-primary btn-lg" (click)="Delete(Product)">
                                <i class="fa fa-trash-o" style="color: #fff;"></i> Delete
                            </button>
                        </div>

                        <div class="mr-2">
                            <button type="button" class="btn btn-primary btn-lg" (click)="Back()">
                                <i class="fa fa-arrow-left" style="color: #fff;"></i> Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8) " size="medium " color="#fff " type="square-spin ">
    <p style="font-size: 20px; color: white ">Loading...</p>
</ngx-spinner>
