<app-sidenav></app-sidenav>

<div class="row">
    <div class="col-sm-12">
        <form #AddGradeAddForm="ngForm">
            <div class="main-body">
                <div class="sub-body">
                    <div *ngIf="ViewMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-eye"></i> View GRADE </h3>
                    </div>
                    <div *ngIf="AddMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-address-book"></i> Add New GRADE </h3>
                    </div>
                    <div *ngIf="EditMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-pencil-square-o"></i> Edit  GRADE </h3>
                    </div>
                    <div *ngIf="DeleteMode" class="main-heading">
                        <h3 class="main-heading-title"><i class="fa heading-icon fa-trash-o"></i> Delete GRADE</h3>
                    </div>

                    <div class="form-group margin-top-30">

                        <label class="col-sm-2 col-form-label">Add Grade</label>
                        <div class="col-sm-4">
                            <input autocomplete="off" class="form-control" required name="Expense" type="text" title="Enter Expense" [(ngModel)]="AddGrade.GradeName" placeholder="Enter AddGrade" [readonly]="DeleteMode || ViewMode" />
                        </div>

                    </div>

                    <!-- Audit Log -->

                    <div *ngIf="!AddMode" class="margin-top-30">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Audit Log
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div class="form-group margin-top-25">
                                    <label class="col-sm-1 col-form-label">Created By</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="CreatedBy" type="text" title="Created By" [(ngModel)]="AddGrade.CreatedBy" placeholder="Created By" />
                                    </div>

                                    <label class="col-sm-1 col-form-label">Created Date</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="CreatedDate" type="text" title="Created Date" [(ngModel)]="AddGrade.CreatedDate" placeholder="Created Date" />
                                    </div>

                                    <label class="col-sm-1 col-form-label">Modified By</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="ModifiedBy" type="text" title="Modified By" [(ngModel)]="AddGrade.ModifiedBy" placeholder="Modified By" />
                                    </div>

                                    <label class="col-sm-1 col-form-label">Modified Date</label>
                                    <div class="col-sm-2">
                                        <input autocomplete="off" class="form-control" readonly name="ModifiedDate" type="text" title="Modified Date" [(ngModel)]="AddGrade.ModifiedDate" placeholder="Modified Date" />
                                    </div>

                                </div>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group row">
                        <div class="mr-2" *ngIf="AddMode">
                            <button type="button" [disabled]="!AddGradeAddForm.valid" class="btn btn-primary btn-lg" (click)="Save(AddGrade)">
                        <i class="fa fa-floppy-o" style="color: #fff;"></i> Save
                    </button>
                        </div>

                        <div class="mr-2" *ngIf="EditMode">
                            <button type="button" [disabled]="!AddGradeAddForm.valid" class="btn btn-primary btn-lg" (click)="Update(AddGrade)">
                        <i class="fa fa-refresh" style="color: #fff;"></i> Update
                    </button>
                        </div>

                        <div class="mr-2" *ngIf="DeleteMode">
                            <button type="button" [disabled]="!AddGradeAddForm.valid" class="btn btn-primary btn-lg" (click)="Delete(AddGrade)">
                        <i class="fa fa-trash-o" style="color: #fff;"></i> Delete
                    </button>
                        </div>

                        <div class="mr-2">
                            <button type="button" class="btn btn-primary btn-lg" (click)="Back()">
                        <i class="fa fa-arrow-left" style="color: #fff;"></i> Back
                    </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
