<p>placementstock-list works!</p>


<app-sidenav></app-sidenav>

<div class="row">
    <div class="col-xs-12">
        <div class="main-body">
            <div class="sub-body">

                <!-- <div class="col-xs-12">
                    <input type="text" class="form-control input-group-lg" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Invoice Number">
                </div> -->

                <div class="form-group col-xs-12"></div><br><br><br>

                <div class="main-heading">
                    <h3 class="main-heading-title"><i class="fa fa-list-alt heading-icon"></i> Godown Menu Counter</h3>
                </div><br><br>

                <div class="table-responsive-sm">
                    <table id="myTable" class="table">
                        <thead>
                            <tr>
                              <th>GD#</th>
                                <!-- <th scope="col">Date</th> -->
                                <th scope="col">GD Name.</th>
                                <th scope="col">GD City</th>
                                <th scope="col">GD Area</th>
                                <th scope="col">Product Name</th>
                                <th scop="col">Product Code</th>
                                <th scope="col">Product Category</th>
                                <th scop="col">Total Quantity</th>
                                <!-- <th scop="col">Total Amount</th>
                                <th scope="col">Gross Total</th>
                                <th scope="col">Lot Number</th> -->
                                <!-- <th scop="col">Action</th> -->

                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let item of pagedItems of data.info.Details && data.info.Details.ItemName; let i = index"> -->
                              <tr *ngFor="let item of pagedItems of VendorLedger.Details; let i = index">

                              <td>{{i+1}}</td>
                              <!-- <th>{{item.Date}}</th> -->
                              <td>{{item.Details[0].GDName.GDName}}</td>
                              <td>{{item.Details[0].GDName.GDCity}}</td>
                              <td>{{item.Details[0].GDName.GDArea}}</td>
                              <td>{{item.Details[0].ItemName.Name}}</td>
                              <td>{{item.Details[0].ItemName.Code}}</td>
                              <td>{{item.Details[0].ItemName.Category}}</td>
                              <td>{{item.QuantityGodown}}</td>
                              <!-- <td>{{item.Particulars}}</td>
                              <td>{{item.Details[0].Product.Name}}</td>
                              <td>{{item.Details[0].Quantity}}</td>
                              <td>{{item.Details[0].UnitPrice}}</td>
                              <td>{{item.Details[0].Total}}</td>
                              <td>{{item.GrossTotal}}</td>
                              <td>{{item.LotNumber}}</td> -->

                                <!-- <td>
                                    <i class="fa fa-eye view" (click)="View(item)"></i> |
                                    <i class="fa fa-edit edit" (click)="Edit(item)"></i> |
                                    <i class="fa fa-trash-o delete" (click)="Delete(item)"></i>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- pager -->
                <div class="text-center">
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
